body {
    font-family: Arial, sans-serif;
    background: white;
}

p{
    color:black;
    font-family: arial,sans-serif;
}

a{
    padding: 25px;
    font-size: 20px;
}

li{
    text-align: left;
}

.container {
    width: 100%;
}

h1,a,p1{
    color:white
}

h3,h2{
    border-bottom: 2px solid black;
    overflow: hidden;
}

.header {
    background:blue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.menu {
    background: black;
    padding: 15px;
    text-align: center;
    font-size: 15px;
}

.main {
    overflow: hidden;
}

.sidebar {
    width: 20%;
    float: left;
    background: white;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    padding: 7px;
}

.gambar-pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid black;
    object-fit: cover;
    margin-bottom: 15px;
}

.bar {
    width: 80%;
    height: 20px;
    background: whitesmoke;
    border: 2px solid black;
    margin: 8px auto;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 100%;
    color: white;
    font-size: 12px;
    line-height: 20px;
    background: blue;
    text-align: center;
}

.gambar{
    float: left;
    margin-right: 10px;
    margin-left: 10px
}

.gambar img {
    display: grid;
    height: 200px;
    margin-bottom: 15px;
    border: 3px solid black;
}


.content {
    width: 78%;
    float: right;
    background: white;
    text-align: center;
    font-size: 19px;
    padding-top: 20px;
    border-left: 2px solid black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.gallery img {
    width: 95%;
    height: 180px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 10px;
}

.footer {
    background: linear-gradient(to right, #000428, #004e92);
    color: white;
    padding: 40px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 5px solid cyan;
}
